@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.details {
    @include centered-content;
        width: 90%;
        margin-top: 30px;
        padding:15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        border: 4px solid $yellow;
        border-radius: 10px;
    }



