@import '../utils/mixins.scss';
@import '../utils/variables.scss';



/* 
@media only screen and (min-width: 1200px) {
    .listacards {
        width: 70%;
    }
} */

/* .pokemon-list {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 16px;
    border:4px solid $blue;
    border-radius:10px;
}

@media only screen and (min-width: 720px) {
}

@media only screen and (min-width: 1200px) {
    .pokemon-list {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        gap: 16px;
        border:4px solid $blue;
        border-radius:10px;
    }
} */